<script src="static/js/jquery.min.js"></script>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/main.css" rel="stylesheet">
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Treeview List</div>
        <div class="panel-body">
            <!-- TREEVIEW CODE -->
            <ul class="treeview">
                <li><a href="#">Tree</a>
                	<ul>
            			<li><a href="#">Branch</a></li>
            			<li><a href="#">Branch</a>
            				<ul>
            					<li><a href="#">Stick</a></li>
            					<li><a href="#">Stick</a></li>
            					<li><a href="#">Stick</a>
            						<ul>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a>
            								<ul>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            									<li><a href="#">Leaf</a></li>
            								</ul>
            							</li>
            							<li><a href="#">Twig</a></li>
            							<li><a href="#">Twig</a></li>
            						</ul>
            					</li>
            					<li><a href="#">Stick</a></li>
            				</ul>
            			</li>
            			<li><a href="#">Branch</a></li>
            			<li><a href="#">Branch</a></li>
            		</ul>
            	</li>
            </ul>
            <!-- TREEVIEW CODE -->
        </div>
    </div>