<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bartosz Rogoz</title>

  <meta name="description" content="Praca Magisterska - Bartosz Rogoz">
  <meta name="author" content="Bartosz Rogoz">

  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/jquery-ui.css" rel="stylesheet">
  <link href="static/css/bootstrap-colorpicker.min.css" rel="stylesheet">
</head>

<body>
  <form id="myform" class="form-wizard">

      <input type="text" value=""/>
      <input type="submit"/>
  </form>
  <div id="Nowy_projekt" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Projekt</h4>
        </div>
        <div class="modal-body">

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">

                <button  id="New-1"  type="button" class="btn btn-info btn-block btn-lg New">Nowy projekt</button>
                <button  id="New-2" type="button" class="btn btn-success btn-block btn-lg New">Nowa wizualizacja</button>
                <button  id="New-3" type="button" class="btn btn-alert btn-block btn-lg New">Wczytaj wizualizacja</button>
              </div>
              <div id="New-info" class="col-md-6">


              </div>

            </div>

          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div id="Server_danych_test" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Test Połączenia</h4>
          </div>
          <div id="Server_danych_test_body" class="modal-body">


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">VizScada</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projekt<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a data-toggle="modal" data-target="#Nowy_projekt">Nowy</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="#">Lista</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a onclick="Save_Project()" href="javascript:void(0)">Zapisz</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plik<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Nowy</a>
                    </li>
                    <li>
                      <a onclick="Load_Project()" href="javascript:void(0)">Wczytaj</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a href="#">Kompiluj</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                      <a onclick="Save_Project()" href="javascript:void(0)">Zapisz</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wizualizacja<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">

                    <li>
                      <input type="file" id="myFile">
                    </li>
                    <li class="divider">
                    </li>

                    <li class="divider">
                    </li>
                    <li>
                      <a onclick="Save_Project('Wizualizacja.html', 'text/plain')">Zapisz plik wizualizacji</a>
                  </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sever danych<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a onclick="Server_danych_test_body_fun()" data-toggle="modal" data-target="#Server_danych_test">Test</a>
                    </li>
                    <!-- Modal -->


                    <li class="divider">
                    </li>
                    <li>
                      <a href="#">Konfiguruj</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sever historii<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Test Połączenia</a>
                    </li>
                    <li>
                      <a href="#"></a>
                    </li>

                    <li class="divider">
                    </li>
                    <li>
                      <a href="#">Konfiguruj</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

          </nav>
        </div>
      </div>
    </div>
    <!--MenuTOP      -->

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">#$NAZWA_WIZUALIZACJI</div>
            <div class="panel-body" id='Wizualizacja-generator' style="height: 500px"></div>

          </div>


        </div>
        <div class="col-md-2">
          <div class="panel-group" id="Przybornik">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#Przybornik" href="#Przybornik-Wskazniki">Wskaźniki</a>
              </div>
              <div id='Przybornik-Wskazniki' class="panel-collapse collapse">
                <div class="panel-body" style="max-height: 20px overflow-y: scroll; ">
                  <ul class="vertical ex" style="padding-left:0px;">
                    <li><a href="javascript:void(0)" id="ON_OFFADD" class="add-widget">Dioda</a></li>
                    <li><a href="javascript:void(0)" id="ZBIORNIK_ADD" class="add-widget">Zbiornik</a></li>
                    <li><a href="javascript:void(0)" id="ETYKIETA_ADD" class="add-widget">Etykieta</a></li>
                    <li><a href="javascript:void(0)" id="SEVENDIG_ADD" class="add-widget">Wyświetlacz 7seg</a></li>
                    <li><a href="javascript:void(0)" id="BUTTON_ADD" class="add-widget">Przycisk</a></li>

                    <li><a href="javascript:void(0)">About</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#Przybornik" href="#Przybornik-Rysuj">Rysuj</a>
              </div>
              <div id="Przybornik-Rysuj" class="panel-collapse collapse">
                <div class="panel-body" style="max-height: 20px overflow-y: scroll; ">
                  <ul class="vertical ex" style="padding-left:0px;">

                    <li><a href="javascript:void(0)" id="LINIA_ADD" class="add-widget">Linia</a></li>
                    <li><a href="javascript:void(0)" id="CIRCLE_ADD" class="add-widget">Koło</a></li>
                    <li><a href="javascript:void(0)" id="b" class="add-widget">Kwadrat</a></li>
                    <li><a href="javascript:void(0)">About</a></li>
                  </ul>


                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#Przybornik" href="#Przybornik-Silniki">Silniki</a>
              </div>
              <div id="Przybornik-Silniki" class="panel-collapse collapse">
                <div class="panel-body">
                  Lista darageble silników
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#Przybornik" href="#Kontrolka-Opcje">OPCJE</a>
              </div>
              <div id="Kontrolka-Opcje" class="panel-collapse collapse">
                <div class="panel-body" id="Kontrolka-OpcjeADD">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--codesection      -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label for="comment">Program</label>
            <textarea class="form-control" rows="10" id="CODE"></textarea>
          </div>
        </div>
      </div>
    </div>

    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/bootstrap-colorpicker.min.js"></script>
    <script src="static/js/sevenSeg.js"></script>

    <script src="static/js/Aplikacja.js"></script>
    <script src="static/js/Silnik.js"></script>
    <script src="static/js/Elementy.js"></script>


</body>

</html>
